@import '../../styles.scss';

.date-nav-btn {
    color: $white;
    border:none;
    font-size: 1.5em;
    background: inherit;
    &:hover:not(:active){
        color: darken($primary,10%);
    }
}

.date-display-control{
    color: $white;
}

.date-controls-container{
    background: $primary;
}

.accordion-active{
    background: $white;
    color: $primary;
    border-color: $white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
        background: $white !important;
    color: $primary !important;
    border-color: $white !important;
    }
}